<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="footer" class="uk-background-secondary uk-margin-top uk-flex uk-flex-middle uk-flex-right footer" style="height: 100px">
    <div class="uk-margin-large-right">
        <span uk-icon="icon: facebook; ratio: 2"></span>
        <span uk-icon="icon: twitter; ratio: 2"></span>
        <span uk-icon="icon: instagram; ratio: 2"></span>
    </div>
</div>

</body>
</html>